.Avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

img.Avatar {
    object-fit: cover;
    object-position: center;
}

div.Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    color: white;
    font-size: 36px;
    font-weight: 700;
}