menu.Dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background: var(--background);
    box-shadow: 0 4px 42px #4f72cd26, 0px 0 4px #4f72cd26;
    border-radius: 8px;
    margin: 0;
    z-index: 100;
}

menu.Dropdown > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s ease-in-out background-color;
}

menu.Dropdown > li.selected {
    background-color: var(--element-background);
}

menu.Dropdown > li:hover {
    background-color: var(--highlight-background);
}

menu.Dropdown.radio > li::before {
    display: block;
    box-sizing: border-box;
    height: 24px;
    aspect-ratio: 1;

    content: "\00a0";
    border: solid 1px var(--label-secondary-color);
    border-radius: 50%;
    background-color: var(--background);
}

menu.Dropdown.radio > li.selected::before {
    background-image: radial-gradient(var(--label-color), var(--label-color) 4.5px, transparent 0)
}

.Dropdown.Wrapper {
    position: relative;
}