input {
    border: none;
    border-radius: 5px;
    font: inherit;
    padding: 12px 24px;
    box-sizing: border-box;
    background-color: var(--element-background);
    color: var(--label-color)
}

input::placeholder {
    color: var(--label-secondary-color);
}

input:focus {
    outline: 1px solid #2E57E8;
    box-shadow: 0px 0px 2px 2px rgba(46, 87, 232, 0.25);
}

input[type=search] {
    background-image: url("data:image/svg+xml;utf8,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5403 18.8028C18.6351 17.0625 20.5438 12.3323 18.8036 8.23759C17.0633 4.14283 12.3332 2.23411 8.2384 3.97434C4.14364 5.71457 2.23492 10.4448 3.97515 14.5395C5.71538 18.6343 10.4456 20.543 14.5403 18.8028Z' stroke='%235C5589' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.0853 17.0844L23.3333 23.3333' stroke='%235C5589' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    padding-left: 48px;
    background-repeat: no-repeat;
    background-position: 12px center;
}