div.Loading {
    position: absolute;
    
    width: 64px;
    height: 64px;
    left: calc(50% - 32px);
    top: calc(50% - 32px);

    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 5px 16px #4f72cd26;

    background-color: #fbfcfebf;
    background-image: url("./Loading.spinner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;

    backdrop-filter: blur(6px);
}

.Loading-scope div.Loading {
    width: unset;
    height: unset;
    inset: 0;

    box-shadow: none;
    border-radius: unset;
}

/* Utility class for parents of the <Loading> component */
.Loading-scope { position: relative; }