div.Testimonials {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    background-color: var(--list-background);
    flex-grow: 1;
    overflow: hidden auto;
}

div.Testimonials > a {
    color: inherit;
    text-decoration: inherit;
}
