section.Testimonials {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    background-color: var(--list-background);
    min-height: 640px;
}

section.Testimonials > a {
    color: inherit;
    text-decoration: inherit;
}
