button.TrackSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;
    gap: 8px;
}

.TrackSelector li {
    height: 58px;
}

.TrackSelector h6 {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
    margin-block: 0;
}