@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --background: #FFFFFF;
    --element-background: #F0F3F9;
    --highlight-background: #E1EBFF;
    --highlight-secondary-background: #F4F7FD;
    --label-color: #130B43;
    --label-secondary-color: #5C5589;
    --label-tertiary-color: #76709F;
    --text-color: #3F3A5A;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}